    body {
        font-family: 'Arimo', sans-serif;
        font-family: 'Poppins', sans-serif;
    }
    
    .search-eng-name {
        text-align: center;
        font-size: 450%;
    }
    
    .button:hover {
        color: mintcream;
        background-color: rebeccapurple;
        cursor: pointer;
    }
    
    .result {
        border: 1px solid black;
        border-radius: 5px;
    }
    
    #search-result {
        margin-top: 40px;
    }